html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

@font-face {
  font-family: hotjar;
  src: url(../../font/font-hotjar_5.65042d.woff2);
}
@font-face {
  font-family: formular;
  src: url(../../font/formular-regular-e86322695ea3b282488575160fbae2ae.woff2);
}
@font-face {
  font-family: formular;
  src: url(../../font/formular-medium-d390ef5d4f3589658bd593254f43a3c7.woff2);
  font-weight: 600;
}
@font-face {
  font-family: formular;
  src: url(../../font/formular-bold-9bdd13dd64c845e210e876d8611578f5.woff2);
  font-weight: bold;
}
@font-face {
  font-family: spoof;
  src: url(../../font/spoof-bold-e92aec015794b41f3d29dc693248ae37.woff2);
}
html {
  font-size: 100%;
} /*16px*/
body {
  background: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: black;
}

p {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem 0;
  font-weight: 700;
  line-height: 1.3;
  font-family: Sora, sans-serif;
}

h1 {
  margin-top: 0;
  font-size: 64px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

@media screen and (max-width: 500px) {
  h1,
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 28px;
  }
}
.pen {
  font-family: "Nanum Pen Script", cursive;
  font-size: 28px;
  opacity: 0.6;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 1.25;
}

.text {
  font-size: 20px;
  opacity: 0.88;
  line-height: 32px;
}

.btn {
  display: flex;
  cursor: pointer;
  font-weight: 700;
  position: relative;
  padding: 10px 16px;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  transition: background-color 200ms ease-in;
}
.btn-large {
  padding: 20px 24px;
  border-radius: 16px;
}
.btn-blue {
  background-color: #5627ff;
  color: white;
}
.btn-blue:hover {
  background-color: #7657ff;
}
.btn-gray {
  background-color: rgba(5, 6, 15, 0.04);
}
.btn-gray:hover {
  background-color: rgba(5, 6, 15, 0.08);
}
.btn-outline {
  border: 2px solid #000;
}
.btn-outline:hover {
  background-color: #05060f;
  color: white;
}
.btn-outline-dark {
  border: 2px solid #fff;
  color: white;
}
.btn-outline-dark:hover {
  background-color: white;
  color: navy;
}
.btn-footer {
  flex: none;
  color: #000;
  display: flex;
  height: 128px;
  font-size: 32px;
  font-weight: 700;
  min-width: 250px;
  line-height: 40px;
  margin-right: 24px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 70px;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  background-color: #f8db46;
  font-family: Sora, sans-serif;
  box-shadow: 0 0 0 20px #000, 0 0 0 24px #7657ff;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btn-footer:hover {
  box-shadow: 0 0 0 10px #000, 0 0 0 14px #7657ff;
}
.btn-icon-text {
  display: flex;
  justify-content: center;
  font-size: 16px;
  padding: 0 16px;
  line-height: 28px;
  font-weight: 700;
  height: 44px;
  border-radius: 10px;
  width: 100%;
  gap: 8px;
  align-items: center;
}
.btn-icon-text svg {
  width: 24px;
  height: 24px;
}

.badge {
  letter-spacing: 0.5px;
  border-radius: 20px;
  padding: 5px 7px;
  font-size: 11px;
  position: absolute;
  top: -16px;
  bottom: auto;
  left: -15px;
  right: auto;
  transform: rotate(-12deg);
  background-color: #f8db46;
  color: #05060f;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 14px;
  display: flex;
}

@media screen and (max-width: 900px) {
  .btn {
    padding: 8px;
    font-size: 14px;
  }
  .btn-large {
    padding: 16px 12px;
    font-size: 14px;
  }
  .btn-footer {
    margin: 0 auto;
    height: 75px;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 70px;
    box-shadow: 0 0 0 12px #000, 0 0 0 16px #7657ff;
  }
  .btn-footer:hover {
    box-shadow: 0 0 0 8px #000, 0 0 0 12px #7657ff;
  }
}
@media screen and (max-width: 600px) {
  .btn-footer {
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0 0 0 12px #000, 0 0 0 16px #7657ff;
  }
  .btn-footer:hover {
    box-shadow: 0 0 0 8px #000, 0 0 0 12px #7657ff;
  }
}
header {
  height: 80px;
  padding: 10px 32px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid rgba(5, 6, 15, 0.04);
  display: flex;
  align-items: center;
  width: 100%;
}
header .header-wrap {
  margin: 0 auto;
  display: flex;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header .header-wrap .logo img {
  display: flex;
  align-items: center;
  width: 125px;
}

@media screen and (max-width: 500px) {
  header .header-wrap .logo img {
    width: 80px;
  }
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navigation .links {
  gap: 24px;
  display: flex;
  font-weight: 400;
  align-items: center;
  margin: 0 24px 0 40px;
}
.navigation .links .drop-down-link {
  gap: 12px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
}
.navigation .links .drop-down-link .arrow-up {
  display: none;
  transform: rotate(180deg);
}
.navigation .links .drop-down-link .popup-box {
  z-index: 10;
  display: none;
  left: -28px;
  top: 28px;
  width: 300px;
  padding: 8px;
  position: absolute;
  border-radius: 12px;
  background-color: white;
  color: black;
  box-shadow: 0 16px 32px rgba(4, 9, 33, 0.06);
}
.navigation .links .drop-down-link .popup-box-content {
  gap: 8px;
  padding: 8px;
  display: grid;
  border-radius: 12px;
}
.navigation .links .drop-down-link .popup-box-content:hover {
  color: #05060f;
  background-color: #f3f3f3;
}
.navigation .links .drop-down-link .popup-box-content .title {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
.navigation .links .drop-down-link .popup-box-content .text {
  opacity: 0.8;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
}
.navigation .links .drop-down-link .popup-box .divider {
  margin: 8px 0;
  width: 100%;
  height: 2px;
  background-color: #f3f3f3;
}
.navigation .links .drop-down-link:hover {
  color: #7657ff;
}
.navigation .links .drop-down-link:hover .arrow-down {
  display: none;
}
.navigation .links .drop-down-link:hover .arrow-up {
  display: block;
}
.navigation .links .drop-down-link:hover .popup-box {
  display: block;
}
.navigation .links a:hover {
  color: #7657ff;
}
.navigation .links .header-divider {
  width: 1px;
  height: 28px;
  background-color: rgba(5, 6, 15, 0.08);
}
.navigation .buttons {
  display: flex;
  gap: 12px;
}
.navigation .buttons .hamburger-menu {
  display: none;
  height: 48px;
  width: 48px;
  border: 3px solid rgba(5, 6, 15, 0.04);
  border-radius: 10px;
  padding: 8px;
  position: relative;
}
.navigation .buttons .hamburger-menu:hover .popup-box:first-child {
  display: unset;
}
.navigation .buttons .hamburger-menu .popup-box:first-child {
  display: none;
  padding: 16px 8px;
  background-color: white;
  color: black;
  box-shadow: 0 16px 32px rgba(4, 9, 33, 0.06);
  position: absolute;
  border-radius: 10px;
  left: -100px;
  top: 35px;
}
.navigation .buttons .hamburger-menu .popup-box:first-child .links {
  gap: 24px;
  display: grid;
  font-weight: 400;
  align-items: center;
  margin: 0 24px 0 40px;
}
.navigation .buttons .hamburger-menu .popup-box:first-child .links .drop-down-link {
  gap: 12px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
}
.navigation .buttons .hamburger-menu .popup-box:first-child .links .drop-down-link .arrow-up {
  display: none;
  transform: rotate(180deg);
}
.navigation .buttons .hamburger-menu .popup-box:first-child .links .drop-down-link .popup-box {
  z-index: 10;
  display: none;
  left: -200px;
  top: 28px;
  width: 300px;
  padding: 8px;
  position: absolute;
  border-radius: 12px;
  background-color: white;
  color: black;
  box-shadow: 0 16px 32px rgba(4, 9, 33, 0.06);
}
.navigation .buttons .hamburger-menu .popup-box:first-child .links .drop-down-link .popup-box-content {
  gap: 8px;
  padding: 8px;
  display: grid;
  border-radius: 12px;
}
.navigation .buttons .hamburger-menu .popup-box:first-child .links .drop-down-link .popup-box-content:hover {
  color: #05060f;
  background-color: #f3f3f3;
}
.navigation .buttons .hamburger-menu .popup-box:first-child .links .drop-down-link .popup-box-content .title {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
.navigation .buttons .hamburger-menu .popup-box:first-child .links .drop-down-link .popup-box-content .text {
  opacity: 0.8;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
}
.navigation .buttons .hamburger-menu .popup-box:first-child .links .drop-down-link .popup-box .divider {
  margin: 8px 0;
  width: 100%;
  height: 2px;
  background-color: #f3f3f3;
}
.navigation .buttons .hamburger-menu .popup-box:first-child .links .drop-down-link:hover {
  color: #7657ff;
}
.navigation .buttons .hamburger-menu .popup-box:first-child .links .drop-down-link:hover .arrow-down {
  display: none;
}
.navigation .buttons .hamburger-menu .popup-box:first-child .links .drop-down-link:hover .arrow-up {
  display: block;
}
.navigation .buttons .hamburger-menu .popup-box:first-child .links .drop-down-link:hover .popup-box {
  display: block;
}
.navigation .buttons .hamburger-menu .popup-box:first-child .links a:hover {
  color: #7657ff;
}
.navigation .buttons .hamburger-menu .popup-box:first-child .links .header-divider {
  width: 100%;
  height: 2px;
  background-color: rgba(5, 6, 15, 0.08);
}

@media screen and (max-width: 992px) {
  .navigation .links {
    display: none;
  }
  .navigation .buttons .hamburger-menu {
    display: unset;
  }
}
.section-card {
  flex: 1;
}
.section-card-icon {
  height: auto;
  max-width: 100%;
  display: inline-block;
  margin-bottom: 24px;
}
.section-card-title {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.4em;
  margin-bottom: 12px;
}
.section-card-description {
  flex: 1;
  opacity: 0.88;
  font-size: 20px;
  text-align: left;
  line-height: 32px;
}

.review-card {
  color: #05060f;
  text-align: left;
  background-color: #fff;
  border-radius: 24px;
  margin-bottom: 24px;
  padding: 24px;
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
}

.grid-section {
  display: grid;
}

section {
  padding: 160px 0;
}
section .content .pen {
  margin: 0 0 16px 0;
}
section .content h2 {
  margin: 0 0 16px 0;
}
section .content .text {
  margin-bottom: 16px;
}
section .image {
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
section .image img {
  max-width: 540px;
}

main {
  max-width: 100%;
  padding: 120px 0 64px 0;
}
main .hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 32px;
}
main .hero-text {
  margin-bottom: 24px;
}
main .hero-text h1 {
  letter-spacing: -2px;
  font-size: 64px;
  line-height: 1.125;
  margin-bottom: 24px;
}
main .hero-text h1 .yellow-underline {
  background-image: url("./../../image/yellow-underline.svg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: -26px;
  padding: 0 46px 26px 14px;
  display: inline-block;
  margin-left: -10px;
}
main .hero-text .text {
  margin-bottom: 24px;
}
main .hero-text .buttons {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
  font-size: 20px;
}
main .hero-image {
  display: flex;
  justify-content: center;
}
main .hero-image img {
  max-width: 500px;
  max-height: 495px;
}
main .logo-rating-bar {
  margin-top: 80px;
  padding-bottom: 120px;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  grid-row-gap: 40px;
  align-items: center;
  grid-column-gap: 40px;
  justify-content: center;
}
main .logo-rating-bar-divider {
  width: 2px;
  background-color: rgba(5, 6, 15, 0.06);
  align-self: stretch;
}
main .logo-rating-bar .logos {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  justify-content: center;
  gap: 24px;
}
main .logo-rating-bar .logos img {
  height: 63px;
}
main .logo-rating-bar .reviews {
  max-width: 220px;
  display: grid;
}
main .logo-rating-bar .reviews p {
  opacity: 0.7;
  font-size: 14px;
  line-height: 20px;
}
main .logo-rating-bar .trust-pilot {
  max-width: 220px;
  display: grid;
  gap: 8px;
}
main .logo-rating-bar .trust-pilot .logo svg {
  width: 120px;
  height: 30px;
}
main .logo-rating-bar .trust-pilot .green-stars svg {
  width: 206px;
  height: 37px;
}
main .logo-rating-bar .trust-pilot .green-stars svg .tp-star:nth-of-type(-n + 5) .tp-star__canvas,
main .logo-rating-bar .trust-pilot .green-stars svg .tp-star:nth-of-type(-n + 5) .tp-star__canvas--half {
  fill: #00b67a;
}
main .logo-rating-bar .trust-pilot .summery {
  display: grid;
  gap: 4px;
}
main .logo-rating-bar .trust-pilot .summery p {
  font-size: 14px;
  line-height: 1.2;
}
main .logo-rating-bar .trust-pilot .summery p span {
  font-weight: bold;
}
main .gray-section {
  background-color: #f3f3f3;
}
main .gray-section .grid-section {
  grid-template-columns: 1fr 0.75fr;
  grid-column-gap: 64px;
  grid-row-gap: 40px;
}
main .gray-section .grid-section .game-box {
  border: 4px solid #05060f;
  border-radius: 24px;
  background-color: rgba(5, 6, 15, 0.04);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 16px 32px;
}
main .gray-section .grid-section .game-box .browser {
  position: absolute;
  top: -1px;
  left: 0;
}
main .gray-section .grid-section .game-box .title {
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  margin-bottom: 24px;
}
main .gray-section .grid-section .game-box .diagrams-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
main .gray-section .grid-section .game-box .diagrams-bar .diagram {
  background-color: white;
  border: 2px solid transparent;
  max-width: 250px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  height: auto;
  cursor: pointer;
}
main .gray-section .grid-section .game-box .diagrams-bar .diagram img {
  border-radius: 24px;
  max-width: 250px;
  overflow: hidden;
}
main .gray-section .grid-section .game-box .diagrams-bar .diagram:hover {
  border-color: #05060f;
}
main .white-section {
  grid-template-columns: 0.75fr 1fr;
  grid-column-gap: 64px;
  grid-row-gap: 40px;
}
main .white-section .logos {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  margin-top: 24px;
}
main .white-section .logos img {
  width: 82px;
}
main .navy-section {
  color: white;
  background-color: #150259;
}
main .navy-section .grid-section {
  grid-template-columns: 1fr 0.75fr;
}
main .yellow-section {
  background-color: #f8db46;
}
main .yellow-section .grid-section {
  grid-template-columns: 0.75fr 1fr;
}
main .edtech {
  position: relative;
}
main .edtech img {
  height: auto;
  width: 180px;
  display: inline-block;
  opacity: 1;
  position: absolute;
  top: -90px;
  bottom: auto;
  left: auto;
  right: 5%;
}
main .why-section {
  padding: 120px 0;
}
main .why-section .title {
  margin: 0 auto;
  max-width: 720px;
}
main .why-section .title h2 {
  margin-top: 0;
  margin-bottom: 60px;
  text-align: center;
}
main .why-section .cards-bar {
  display: flex;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  text-align: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 60px;
}
main .why-section .btn {
  margin: 0 auto;
  font-size: 20px;
}
main .black-section {
  padding: 120px 32px;
  color: white;
  background-color: #05060f;
}
main .black-section .grid-section {
  grid-template-columns: 1.5fr 0.5fr;
  margin: 0 auto 80px auto;
}
main .black-section .grid-section .content .pen {
  margin: 0 0 16px 0;
}
main .black-section .grid-section .content h2 {
  margin: 0 0 40px 0;
}
main .black-section .grid-section .content .text {
  margin-bottom: 16px;
}
main .black-section .grid-section .content .author-name {
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
}
main .black-section .grid-section .content .author-position {
  font-size: 20px;
  line-height: 32px;
}
main .black-section .grid-section .image .feedback-photo {
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: rgba(5, 6, 15, 0.02);
  border-radius: 144px;
}
main .black-section .companies {
  margin-bottom: 40px;
}
main .black-section .companies .title {
  opacity: 0.8;
  font-size: 20px;
  text-align: center;
}
main .black-section .companies .logo-bar {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
main .black-section .reviews {
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-gap: 24px;
       column-gap: 24px;
  margin-bottom: -24px;
}
main .black-section .reviews .review-text {
  color: #000;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 16px;
}
main .black-section .reviews .review-stars {
  display: flex;
  gap: 4px;
  margin-bottom: 16px;
}
main .black-section .reviews .review-stars img {
  width: 19px;
  height: 19px;
}
main .black-section .reviews .review-author {
  display: flex;
  justify-content: flex-start;
}
main .black-section .reviews .review-author-photo {
  margin-right: 16px;
  position: relative;
}
main .black-section .reviews .review-author-position {
  width: 100%;
}
main .black-section .reviews .review-author-position .name-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .black-section .reviews .review-author-position .name-logo .name {
  font-weight: 700;
  line-height: 28px;
}
main .black-section .reviews .review-author-position .name-logo .logo {
  display: flex;
  align-items: center;
}
main .black-section .reviews .review-author-position .name-logo .logo img {
  width: 28px;
}
main .black-section .reviews .review-author-position .job {
  color: rgba(5, 6, 15, 0.6);
  font-size: 12px;
  line-height: 18px;
}
main .black-section .trustpilot-link {
  gap: 8px;
  display: flex;
  margin-top: 48px;
  align-items: center;
  justify-content: center;
}
main .black-section .trustpilot-link p.excellent {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 18px;
}
main .black-section .trustpilot-link .green-stars {
  display: flex;
  align-items: center;
}
main .black-section .trustpilot-link .green-stars svg {
  width: 120px;
  height: 24px;
}
main .black-section .trustpilot-link .green-stars svg .tp-star:nth-of-type(-n + 5) .tp-star__canvas,
main .black-section .trustpilot-link .green-stars svg .tp-star:nth-of-type(-n + 5) .tp-star__canvas--half {
  fill: #00b67a;
}
main .black-section .trustpilot-link .reviews-number {
  font-size: 14px;
}
main .black-section .trustpilot-link .trustpilot-logo {
  display: flex;
  gap: 4px;
  height: 24px;
  width: 100px;
}
main .black-section .trustpilot-link .trustpilot-logo svg {
  height: 100%;
  width: 100%;
}
main .blue-section {
  padding: 120px 32px;
  background-color: #200580;
  color: white;
}
main .blue-section .container {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 40px;
  grid-row-gap: 64px;
  align-items: center;
  justify-content: space-between;
}
main .blue-section .container .title {
  margin: 0;
  font-size: 32px;
  max-width: 350px;
  font-weight: 700;
  line-height: 130%;
}
main .blue-section .container .contents {
  flex: 1;
  text-align: center;
}
main .blue-section .container .contents .number {
  margin: 0;
  letter-spacing: -2px;
  margin-bottom: 8px;
  font-family: Sora, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
main .blue-section .container .contents .text {
  margin: 0;
  font-size: 16px;
  opacity: 0.88;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
  main {
    padding: 120px 0px 40px;
  }
  main .hero {
    grid-template-columns: unset;
    gap: 24px;
  }
  main .hero-text h1 {
    font-size: 48px;
  }
}
@media screen and (max-width: 900px) {
  .container {
    margin: 0;
  }
  .grid-section {
    grid-template-columns: unset !important;
    padding: 60px 16px;
    gap: 24px;
  }
  section {
    padding: 0;
  }
  section .content .pen {
    font-size: 24px;
  }
  section .content h2 {
    font-size: 32px;
    max-width: 400px;
  }
  section .content .text {
    font-size: 16px;
  }
  section .image img {
    max-width: 400px;
  }
  main .hero {
    grid-template-columns: unset;
    gap: 24px;
    margin: 0 auto;
  }
  main .hero-text {
    max-width: 400px;
  }
  main .hero-text h1 {
    font-size: 38px;
  }
  main .hero-text .text {
    font-size: 18px;
  }
  main .hero-image {
    max-width: 400px;
  }
  main .hero-image img {
    max-width: 370px;
  }
  main .logo-rating-bar {
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  main .logo-rating-bar .logos {
    display: flex;
    flex-wrap: wrap;
  }
  main .logo-rating-bar .logos img {
    height: 50px;
  }
  main .gray-section .grid-section .game-box {
    padding-top: 36px;
  }
  main .gray-section .grid-section .game-box .title {
    font-size: 22px;
  }
  main .gray-section .grid-section .game-box .diagrams-bar .diagram {
    max-width: 180px;
  }
  main .gray-section .grid-section .game-box .diagrams-bar .diagram img {
    max-width: 180px;
  }
  main .edtech img {
    width: 100px;
    top: -52px;
  }
  main .why-section {
    padding: 120px 0;
  }
  main .why-section .title {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  main .why-section .title h2 {
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    max-width: 420px;
    margin-bottom: 0;
  }
  main .why-section .cards-bar {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 32px;
  }
  main .black-section {
    padding: 60px 16px;
  }
  main .black-section .grid-section {
    justify-content: center;
    margin-bottom: 0;
  }
  main .black-section .grid-section .content .pen {
    font-size: 24px;
  }
  main .black-section .grid-section .content h2 {
    font-size: 32px;
    max-width: 400px;
  }
  main .black-section .grid-section .content .text {
    font-size: 16px;
  }
  main .black-section .grid-section .content .author-name {
    font-size: 20px;
  }
  main .black-section .grid-section .content .author-position {
    font-size: 18px;
    line-height: 32px;
  }
  main .black-section .grid-section .image img {
    max-width: 400px;
  }
  main .black-section .companies {
    margin-bottom: 20px;
  }
  main .black-section .companies .title {
    font-size: 18px;
  }
  main .black-section .companies .logo-bar {
    gap: 8px;
  }
  main .black-section .reviews {
    display: grid;
    align-items: center;
    -moz-column-gap: 16px;
         column-gap: 16px;
    -moz-column-count: unset;
         column-count: unset;
  }
  main .blue-section {
    padding: 60px 32px;
  }
  main .blue-section .container {
    justify-content: center;
    display: grid;
    grid-row-gap: 40px;
    align-items: center;
  }
  main .blue-section .container .title {
    text-align: center;
    margin: 0 auto;
    font-size: 28px;
    max-width: 320px;
  }
  main .blue-section .container .contents .number {
    font-size: 32px;
  }
}
@media screen and (max-width: 425px) {
  .container {
    max-width: unset;
  }
  section {
    padding: 36px 0;
  }
  section .content .pen {
    margin: 0 0 16px 0;
  }
  section .content h2 {
    font-size: 18px;
    margin: 0 0 16px 0;
  }
  section .content .text {
    margin-bottom: 16px;
  }
  section .image img {
    max-width: 320px;
  }
  main .hero {
    grid-template-columns: unset;
    gap: 24px;
  }
  main .hero-text {
    max-width: 320px;
  }
  main .hero-text h1 {
    font-size: 32px;
    max-width: 320px;
  }
  main .hero-text .text {
    font-size: 16px;
  }
  main .hero-image {
    max-width: 320px;
  }
  main .hero-image img {
    max-width: 320px;
  }
  main .why-section {
    padding: 120px 0;
  }
  main .why-section .title h2 {
    max-width: 320px;
  }
  main .black-section {
    padding: 60px 16px;
  }
  main .black-section .grid-section {
    margin-bottom: 0;
  }
  main .black-section .grid-section .content .pen {
    font-size: 22px;
  }
  main .black-section .grid-section .content h2 {
    font-size: 28px;
    max-width: 320px;
  }
  main .black-section .grid-section .content .text {
    font-size: 16px;
  }
  main .black-section .grid-section .content .author-name {
    font-size: 18px;
  }
  main .black-section .grid-section .content .author-position {
    font-size: 16px;
  }
  main .black-section .grid-section .image img {
    max-width: 320;
  }
}
.section-card {
  flex: 1;
}
.section-card-icon {
  height: auto;
  max-width: 100%;
  display: inline-block;
  margin-bottom: 24px;
}
.section-card-title {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.4em;
  margin-bottom: 12px;
}
.section-card-description {
  flex: 1;
  opacity: 0.88;
  font-size: 20px;
  text-align: left;
  line-height: 32px;
}

.review-card {
  color: #05060f;
  text-align: left;
  background-color: #fff;
  border-radius: 24px;
  margin-bottom: 24px;
  padding: 24px;
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
}

footer {
  color: white;
  background-color: #05060f;
  padding: 100px 32px 30px 32px;
  border-radius: 120px 120px 0 0;
}
footer .container .footer-title {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
  display: flex;
}
footer .container .footer-title h3 {
  margin-right: 100px;
  font-size: 48px;
}
footer .container .footer-links {
  display: grid;
  grid-row-gap: 16px;
  margin-bottom: 64px;
  grid-column-gap: 40px;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  grid-template-rows: auto;
  justify-content: space-between;
  grid-template-columns: 0.25fr 0.75fr;
}
footer .container .footer-links .footer-links-block {
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  align-items: flex-start;
  display: grid;
}
footer .container .footer-links .part .footer-col {
  display: flex;
  grid-row-gap: 24px;
  flex-direction: column;
  grid-column-gap: 24px;
}
footer .container .footer-links .part .footer-col .list-title {
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  margin: 0;
}
footer .container .footer-links .part .footer-col .footer-links-list {
  font-size: 14px;
  grid-row-gap: 12px;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0;
  display: flex;
  list-style: none;
}
footer .container .footer-links .part .footer-col .footer-links-list .footer-a {
  color: rgba(255, 255, 255, 0.5);
  transition: color 200ms;
}
footer .container .footer-links .part .footer-col .footer-links-list .footer-a:hover {
  color: white;
}
footer .container .footer-links .part .footer-col .social-links {
  margin-top: 40px;
  display: flex;
  gap: 16px;
  align-items: center;
}
footer .container .footer-links .part .footer-col .social-links a {
  opacity: 0.55;
  transition: opacity 200ms;
}
footer .container .footer-links .part .footer-col .social-links a:hover {
  opacity: 1;
}
footer .container .footer-links .part .footer-col .social-links a img {
  width: 24px;
  height: 24px;
}
footer .container .footer-bottom {
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.5);
}
footer .container .footer-bottom ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
footer .container .footer-bottom ul li a {
  transition: color 200ms;
}
footer .container .footer-bottom ul li a:hover {
  color: white;
}

@media screen and (max-width: 900px) {
  footer {
    padding: 60px 32px 30px 32px;
  }
  footer .container .footer-title {
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    display: grid;
    gap: 32px;
  }
  footer .container .footer-title h3 {
    text-align: center;
    margin: 0;
    max-width: 500px;
    font-size: 28px;
  }
  footer .container .footer-links {
    display: grid;
    margin-bottom: 30px;
    grid-column-gap: 16px;
    align-items: flex-start;
    grid-template-rows: auto;
    justify-content: center;
    grid-template-columns: unset;
  }
  footer .container .footer-links .footer-links-block {
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: 1fr;
    justify-content: space-around;
    align-items: flex-start;
    display: grid;
  }
  footer .container .footer-bottom {
    display: grid;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  footer {
    padding: 30px 16px;
  }
  footer .container .footer-title {
    margin-bottom: 30px;
  }
  footer .container .footer-title h3 {
    max-width: 320px;
    font-size: 24px;
  }
}
.section-card {
  flex: 1;
}
.section-card-icon {
  height: auto;
  max-width: 100%;
  display: inline-block;
  margin-bottom: 24px;
}
.section-card-title {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.4em;
  margin-bottom: 12px;
}
.section-card-description {
  flex: 1;
  opacity: 0.88;
  font-size: 20px;
  text-align: left;
  line-height: 32px;
}

.review-card {
  color: #05060f;
  text-align: left;
  background-color: #fff;
  border-radius: 24px;
  margin-bottom: 24px;
  padding: 24px;
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  position: relative;
  margin: 0 auto;
  padding: 32px;
  width: 100%;
  max-width: 400px;
  border-radius: 24px;
  background: white;
  border: 1px solid rgba(5, 6, 15, 0.04);
}
.login-form .login-title {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-align: center;
}
.login-form a {
  color: #5627ff;
}
.login-form a:hover {
  color: #2d0ca6;
}
.login-form .subtitle {
  margin-top: 12px;
  margin-bottom: 0;
  color: rgba(5, 6, 15, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
.login-form .btn {
  margin-top: 12px;
}
.login-form .or-divider {
  margin: 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
}
.login-form .or-divider .divider {
  height: 1px;
  width: 40%;
  background-color: rgba(5, 6, 15, 0.08);
}
.login-form .or-divider .or {
  color: rgba(5, 6, 15, 0.6);
  font-size: 12px;
  margin: 0;
}
.login-form input {
  width: 100%;
  height: 44px;
  padding: 8px;
  border: none;
  color: #05060f;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  position: relative;
  margin-bottom: 12px;
  border-radius: 10px;
  background-color: rgba(5, 6, 15, 0.04);
  text-overflow: ellipsis;
  border: solid 2px transparent;
}
.login-form .forgot-link {
  margin-top: 12px;
  font-size: 14px;
}

.btn {
  display: flex;
  cursor: pointer;
  font-weight: 700;
  position: relative;
  padding: 10px 16px;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  transition: background-color 200ms ease-in;
}
.btn-large {
  padding: 20px 24px;
  border-radius: 16px;
}
.btn-blue {
  background-color: #5627ff;
  color: white;
}
.btn-blue:hover {
  background-color: #7657ff;
}
.btn-gray {
  background-color: rgba(5, 6, 15, 0.04);
}
.btn-gray:hover {
  background-color: rgba(5, 6, 15, 0.08);
}
.btn-outline {
  border: 2px solid #000;
}
.btn-outline:hover {
  background-color: #05060f;
  color: white;
}
.btn-outline-dark {
  border: 2px solid #fff;
  color: white;
}
.btn-outline-dark:hover {
  background-color: white;
  color: navy;
}
.btn-footer {
  flex: none;
  color: #000;
  display: flex;
  height: 128px;
  font-size: 32px;
  font-weight: 700;
  min-width: 250px;
  line-height: 40px;
  margin-right: 24px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 70px;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  background-color: #f8db46;
  font-family: Sora, sans-serif;
  box-shadow: 0 0 0 20px #000, 0 0 0 24px #7657ff;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btn-footer:hover {
  box-shadow: 0 0 0 10px #000, 0 0 0 14px #7657ff;
}
.btn-icon-text {
  display: flex;
  justify-content: center;
  font-size: 16px;
  padding: 0 16px;
  line-height: 28px;
  font-weight: 700;
  height: 44px;
  border-radius: 10px;
  width: 100%;
  gap: 8px;
  align-items: center;
}
.btn-icon-text svg {
  width: 24px;
  height: 24px;
}

.badge {
  letter-spacing: 0.5px;
  border-radius: 20px;
  padding: 5px 7px;
  font-size: 11px;
  position: absolute;
  top: -16px;
  bottom: auto;
  left: -15px;
  right: auto;
  transform: rotate(-12deg);
  background-color: #f8db46;
  color: #05060f;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 14px;
  display: flex;
}

@media screen and (max-width: 900px) {
  .btn {
    padding: 8px;
    font-size: 14px;
  }
  .btn-large {
    padding: 16px 12px;
    font-size: 14px;
  }
  .btn-footer {
    margin: 0 auto;
    height: 75px;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 70px;
    box-shadow: 0 0 0 12px #000, 0 0 0 16px #7657ff;
  }
  .btn-footer:hover {
    box-shadow: 0 0 0 8px #000, 0 0 0 12px #7657ff;
  }
}
@media screen and (max-width: 600px) {
  .btn-footer {
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0 0 0 12px #000, 0 0 0 16px #7657ff;
  }
  .btn-footer:hover {
    box-shadow: 0 0 0 8px #000, 0 0 0 12px #7657ff;
  }
}
body.login {
  background-color: #f3f3f3;
  height: 100%;
  padding: 64px 0;
}
body.login .logo {
  margin: 0 auto 32px auto;
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 500px) {
  body.login {
    padding: 40px 0;
  }
}/*# sourceMappingURL=style.css.map */