@import "./../sass-utils/variables";
@import "./../components/card";

footer {
  color: white;
  background-color: $black;
  padding: 100px 32px 30px 32px;
  border-radius: 120px 120px 0 0;
  .container {
    .footer-title {
      justify-content: space-between;
      align-items: center;
      margin-bottom: 120px;
      display: flex;
      h3 {
        margin-right: 100px;
        font-size: 48px;
      }
    }

    .footer-links {
      display: grid;
      grid-row-gap: 16px;
      margin-bottom: 64px;
      grid-column-gap: 40px;
      grid-auto-columns: 1fr;
      align-items: flex-start;
      grid-template-rows: auto;
      justify-content: space-between;
      grid-template-columns: 0.25fr 0.75fr;
      .footer-links-block {
        grid-column-gap: 40px;
        grid-row-gap: 48px;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        justify-content: space-around;
        align-items: flex-start;
        display: grid;
      }
      .part {
        .footer-col {
          display: flex;
          grid-row-gap: 24px;
          flex-direction: column;
          grid-column-gap: 24px;
          .list-title {
            font-size: 16px;
            font-weight: 800;
            line-height: 24px;
            margin: 0;
          }
          .footer-links-list {
            font-size: 14px;
            grid-row-gap: 12px;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 0;
            display: flex;
            list-style: none;
            .footer-a {
              color: rgba(255, 255, 255, 0.5);
              transition: color 200ms;
              &:hover {
                color: white;
              }
            }
          }
          .social-links {
            margin-top: 40px;
            display: flex;
            gap: 16px;
            align-items: center;

            a {
              opacity: 0.55;
              transition: opacity 200ms;
              &:hover {
                opacity: 1;
              }
              img {
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }
    }

    .footer-bottom {
      display: flex;
      font-size: 14px;
      align-items: center;
      justify-content: space-between;
      color: rgba(255, 255, 255, 0.5);

      ul {
        display: flex;
        align-items: center;
        gap: 24px;
        li {
          a {
            transition: color 200ms;
            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }
}
