.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .links {
    gap: 24px;
    display: flex;
    font-weight: 400;
    align-items: center;
    margin: 0 24px 0 40px;
    .drop-down-link {
      gap: 12px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .arrow-up {
        display: none;
        transform: rotate(180deg);
      }
      &:hover {
        color: $purple;
        .arrow-down {
          display: none;
        }
        .arrow-up {
          display: block;
        }
      }
    }
    a:hover {
      color: $purple;
    }
    .header-divider {
      width: 1px;
      height: 28px;
      background-color: rgba(5, 6, 15, 0.08);
    }
  }
  .buttons {
    display: flex;
    gap: 12px;
  }
}

@media screen and (max-width: 992px) {
  .navigation {
    position: absolute;
    top: 80px;
    left: 0;
    flex-basis: 100%;
    background-color: $light-gray;
    width: 100%;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    .navbar-nav {
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
}
