// colors
$black: #05060f;
$black-700: rgba(5, 6, 15, 0.6);
$black-200: rgba(5, 6, 15, 0.08);
$light-black: rgba(255, 255, 255, 0.5);
$blue: #5627ff;
$dark-blue: #200580;
$navy-blue: #150259;
$purple: #7657ff;
$dark-purple: #2d0ca6;

$gray: rgba(5, 6, 15, 0.04);
$light-gray: #f3f3f3;
$gray-hover: rgba(5, 6, 15, 0.08);
$yellow: #f8db46;
$box-shadow: 0 0 0 20px #000, 0 0 0 24px #7657ff;
