@import "./../sass-utils/variables";

.btn {
  display: flex;
  cursor: pointer;
  font-weight: 700;
  padding: 10px 16px;
  width: fit-content;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  transition: background-color 200ms ease-in;

  &-large {
    padding: 20px 24px;
    border-radius: 16px;
  }

  &-blue {
    background-color: $blue;
    color: white;
    &:hover {
      background-color: $purple;
    }
  }

  &-gray {
    background-color: $gray;
    &:hover {
      background-color: $gray-hover;
    }
  }

  &-outline {
    border: 2px solid #000;
    &:hover {
      background-color: $black;
      color: white;
    }
  }
}
