@import "./../sass-utils/variables";

.btn {
  display: flex;
  cursor: pointer;
  font-weight: 700;
  padding: 10px 16px;
  width: fit-content;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  transition: background-color 200ms ease-in;

  &-large {
    padding: 20px 24px;
    border-radius: 16px;
  }

  &-blue {
    background-color: $blue;
    color: white;
    &:hover {
      background-color: $purple;
    }
  }

  &-gray {
    background-color: $gray;
    &:hover {
      background-color: $gray-hover;
    }
  }

  &-outline {
    border: 2px solid #000;
    &:hover {
      background-color: $black;
      color: white;
    }
  }

  &-outline-dark {
    border: 2px solid #fff;
    color: white;
    &:hover {
      background-color: white;
      color: navy;
    }
  }
  &-footer {
    flex: none;
    color: #000;
    display: flex;
    height: 128px;
    font-size: 32px;
    font-weight: 700;
    min-width: 250px;
    line-height: 40px;
    margin-right: 24px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 70px;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    background-color: #f8db46;
    font-family: Sora, sans-serif;
    box-shadow: 0 0 0 20px #000, 0 0 0 24px #7657ff;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    &:hover {
      box-shadow: 0 0 0 10px #000, 0 0 0 14px #7657ff;
    }
  }
}

@media screen and (max-width: 900px) {
  .btn {
    padding: 8px;
    font-size: 14px;
    &-large {
      padding: 16px 12px;
      font-size: 14px;
    }
    &-footer {
      margin: 0 auto;
      height: 75px;
      font-size: 24px;
      font-weight: 700;
      line-height: 40px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 70px;
      box-shadow: 0 0 0 12px #000, 0 0 0 16px #7657ff;
      &:hover {
        box-shadow: 0 0 0 8px #000, 0 0 0 12px #7657ff;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .btn {
    &-footer {
      height: 60px;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      padding-left: 16px;
      padding-right: 16px;
      box-shadow: 0 0 0 12px #000, 0 0 0 16px #7657ff;
      &:hover {
        box-shadow: 0 0 0 8px #000, 0 0 0 12px #7657ff;
      }
    }
  }
}
